{% extends 'Project/base.html' %}

{% block content %}
<h2>Вхід в систему</h2>
<form method="post" action="{% url 'loginPage' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="phone">Номер телефону</label><br>
        <input type="text" id="phone" name="phone" required>
    </div>
    <br>
    <div class="form-group">
        <label for="password">Пароль</label><br>
        <input type="password" id="password" name="password" required>
    </div>
    <br>
    <button type="submit">Увійти</button>
</form>
{% endblock %}