# SQLite база даних
db.sqlite3
db.sqlite3-journal

# Віртуальне середовище (судячи з твого скріна, воно називається venv)
venv/
env/

# Кеш Python (щоб не тягнути зайве)
__pycache__/
*.pyc
*.pyo

# Файли з секретними ключами (знадобиться згодом)
.env

# Медіа файли, завантажені користувачами
media/